.userDetailsPage{
    display: flex;
    flex-direction: column;
    width : 80%;
    margin: auto;
    padding : 20px;
    margin-top:20px;
    height : 85vh;
    overflow-y: scroll;
    /* border : 2px solid red; */
}

.aboutSection{
    display: flex;
    border-bottom: 3px solid black;
    padding-bottom: 50px;
}

.userProfile{
    width:250px;
    height:250px;
    background-color: grey;
    border-radius: 50%;
    /* border :    2px solid green; */
}

.aboutContent{
    padding: 40px;
    display: flex;
    flex-direction: column;
    width : 100%;
}

.userBio{
    margin-top: 20px;
}

.userCount{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.postsCount{
    display : flex;
    align-items: center;
    background-color: black;
    color: white;
    padding : 15px;
    border-radius: 30px;
}


.countTitle{
    width: max-content;
    margin-left: 8px;
}

.postsSection{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border : 2px solid red */
}

.gridPhoto{
    width : 350px;
    height : 350px;
    object-fit: cover;
    margin: 20px;
}

.profileNameHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editProfileBtn{
    width : max-content;
    border-radius: 50px;
}

