.login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height : 90vh;
}

.text{
    flex : 1;
    color : black;
    text-align: center;
    position: relative;
}

.text > img{
    width: 300px;
    overflow: hidden;
}

.form{
    width : 100%;
    height :90vh ;
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex : 1;
    height : 100%;
}

.formHeader{
    width : 400px;
}

input , button {
    width : 400px;
    padding : 15px;
    margin-top: 20px;
}

button{
    border : none;
    outline : none;
    background-color: black;
    color : white;
    cursor: pointer;
}

p{
    margin-top : 10px;
    margin-bottom: 10px;
    width: 400px;
}